{:lein true

 :builds
       {:app      {:target     :browser
                   :output-dir "resources/public/js"
                   :asset-path "/js"

                   :modules    {:main {:entries [starter.browser]}}

                   :devtools   {:after-load starter.browser/start
                                :preloads   [fulcro.inspect.preload]
                                :http-root  "resources/public"
                                :http-port  8020}}

        :test     {:target    :browser-test
                   :test-dir  "resources/public/test"
                   :ns-regexp "-spec$"
                   :runner-ns boo.client-test-main
                   :devtools  {:http-port 8021
                               :http-root "resources/public/test"}}

        :ci-tests {:target     :karma
                   :js-options {:js-provider :shadow}
                   :output-to  "target/ci.js"
                   :ns-regexp  "-spec$"}

        :i18n     {:target           :browser
                   :output-dir       "i18n"
                   :compiler-options {:optimizations :whitespace}
                   :devtools         {:enabled false}
                   :modules          {:main {:entries [boo.client]}}}

        :cards    {:target           :browser
                   :output-dir       "resources/public/cards"
                   :asset-path       "/cards"
                   :compiler-options {:devcards true}

                   :modules          {:main
                                      {:entries [boo.cards]}}

                   :devtools         {:after-load starter.browser/start
                                      :preloads   [fulcro.inspect.preload]
                                      :http-root  "resources/public"
                                      :http-port  8022}}}}